
{% extends "base.html" %}

{% block navbar %}
  {% comment %} {% include 'include/navbar.html' %} {% endcomment %}
{% endblock navbar %}

{% block content %}
  <section class="logout">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 offset-lg-4 text-center">
          <div class="logout-box">
            <img class="login-out__logo" src="/static/images/logo.svg" alt="logo">
            <p>Вы успешно вышли из системы</p>
            <button class="btn btn-outline-dark mt-3"><a class="btn main-btn" href="{% url 'login'%}">Войти</a></button>
            <button class="btn btn-outline-dark mt-3"><a class="btn main-btn" href="{% url 'home'%}">На главную</a></button>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}