{% extends 'base.html' %}
{% load static %}

{% block title %}
  Личный кабинет
{% endblock title %}

{% block navbar %}
  {% include 'include/navbar.html' %}
{% endblock navbar %}

{% block content %}
  <section class="account">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <h1  class="lc_title">Личный кабинет</h1>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
          <h3 class="lc_title"><p>участника проектной площадки <br> "Фабрика процессов производства продукции и  услуг"</p></h1>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="username">
            <p>{{user.last_name}} {{user.first_name}} {{user.patronymic}}</p>
          </div>

        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="user__info">
            <p>E-mail: {{user.email}}</p>
          </div>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
          <div class="user__info">
            <p>Телефон: {{user.phone}}</p>
          </div>
        </div>
      </div>

        {% if certificates|length > 0 %}
        <div class="card-lc">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h2 class="lc_subtitle">
              Мои сертификаты
            </h2>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
              <div class="activity__title mt-2 mb-1">
                {% for item in certificates %}
                <div class="col-sm-12 col-md-12 col-lg-12 pb-2">
                  <a href="{{item.file.url}}" target="_blank">
                    {{item.title}}
                  </a>
                </div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endif %}



      {% if user_educational_programs|length > 0 %}
        <div class="card-lc">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h2 class="lc_subtitle">
              Мои образовательные программы
            </h2>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
              <div class="activity__title mt-2 mb-1">
                {% for program in user_educational_programs %}
                <div class="col-sm-12 col-md-12 col-lg-12 pb-2">
                  <a href="{% url 'program:detail' pk=program.educational_program.id %}">
                    {{program.educational_program.title}}
                  </a>
                </div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>

        {% endif %}



        {% if user_business_games|length > 0 %}
        <div class="card-lc">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h2 class="lc_subtitle">
              Мои деловые игры
            </h2>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
              <div class="activity__title mt-2 mb-1">
                {% for program in user_business_games %}
                  <div class="col-sm-12 col-md-12 col-lg-12 pb-2">
                   <div class="cont-card_lc">
                     <a href="{% url 'business:detail' pk=program.business_games.id %}">
                       {{program.business_games.title}}
                      </a>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endif %}


    </div>
  </section>
{% endblock content %}

{% block footer %}
  {% include 'include/footer.html' %}
{% endblock footer %}

