{% extends 'base.html' %}
{% load static %}

{% block title %}
Деловые игры
{% endblock title %}

{% block navbar %}
  {% include 'include/navbar.html' %}
{% endblock navbar %}

{% block content %}
  <section class="business-games-list">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="title">
            Деловые игры
          </p>
        </div>
        
        {% if page_obj %}
          {% for program in page_obj %}
            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
              <div class="card-program ">
                  <p class="title-group_programm text-center">
                     {{program.group}}
                  </p>
                  <div class="card-content">
                    <a href="{% url 'business:detail' pk=program.id %}">
                      <div class="row">
                        <div class="col-12">
                          <div class="cont-title ">
                             <p>
                               {{program.title}}
                             </p>
                           </div>
                         </div>
                      </div>
                   </a>
                  </div>
              </div>
            </div>
          {% endfor %}
          <div class="col-12">
            <div class="pagination">
              <span class="step-links">
                  {% if page_obj.has_previous %}
                      <a href="?page=1">&laquo; 1</a>
                      <a href="?page={{ page_obj.previous_page_number }}">Назад</a>
                  {% endif %}

                  <span class="current">
                      Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                  </span>

                  {% if page_obj.has_next %}
                      <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
                      <a href="?page={{ page_obj.paginator.num_pages }}">Предыдущая &raquo;</a>
                  {% endif %}
              </span>
          </div>
          </div>
        {% else %}
          <div class="col-12 text-center mt-3">
            Ничего нет
          </div>
        {% endif %}
      </div>
    </div>
  </section>

{% endblock content %}

{% block footer %}
  {% include 'include/footer.html' %}
{% endblock footer %}