{% extends "base.html" %}
{% load static %}

{% block title %}
  {{object.title}}
{% endblock title %}

{% block navbar %}
  {% include 'include/navbar.html' %}
{% endblock navbar %}

{% block content %}

  <section class="educational-program-detail">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <h1 class="title">
            {{object.title}}
          </h1>
          <p class="title-group_programm">
            {{object.group}}
          </p>
          <p>
            {% comment %} {{object.date}} {% endcomment %}
          </p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8">
          <div class="programm-desc">
            {{object.description|safe}}
          </div>

        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 ">
          <div class="users-count-btn">
            {% if user.is_authenticated %}
            {% if is_user_in_program %}
              <p>Вы зарегистрированы на мероприятие</p>
            {% else %}
            <button onclick="location.href='{% url 'program:registration' pk=object.id %}'" type="button" class="btn">Участвовать</button>
            {% endif %}
          {% else %}
            <p class="mb-3">Авторизуйтесь, чтобы принять участие</p>
            <button onclick="location.href='{% url 'login' %}'" type="button" class="btn btn-outline-dark">Войти</button>
          {% endif %}
          <p class="count-users">Всего участников: {{count_users}}</p>
          </div>
        </div>
      </div>
      {% comment %} =============== {% endcomment %}
      <div class="col-12 my-4">
        <h3>Оставить отзыв</h3>
      </div>
      {% if user.is_authenticated %}
        <div class="col-12">
          <form action="{% url 'program:send-feedback' pk=object.id %}" method="POST">
            {% csrf_token %}
            <p>Комментарий</p>
            <textarea  class="form-control w-75" rows="5" cols="45" name="text" maxlength="300" required
            ></textarea>
            <input class="btn mt-3" type="submit" value="Отправить">
          </form>
        </div>
      {% else %}
        <div class="col-12">
          <a href="{% url 'login' %}">Авторизируйтесь</a>, чтобы оставлять отзывы
        </div>
      {% endif %}
      <div class="col-12">
        <h3>Отзывы</h3>
      </div>
      {% if feedbacks|length == 0 %}
          <div class="col-12 mb-5">
            <p>
              Отзывов еще нет
            </p>
          </div>
        {% else %}
          {% for feedback in feedbacks %}
            <div class="col-12">
              <div class="feedback-box d-flex">
                <div class="feedback-img">
                  <img src="/static/images/profile (1).png" alt="">
                </div>
                <div class="feedback-profile">
                  <p>
                    <strong>{{feedback.user.first_name}} {{feedback.user.last_name}}</strong>
                  </p>
                  <p class="feedback-text">
                    {{feedback.text}}
                  </p>
                </div>
                <div class="feedback-box__date">
                  <p>
                  {{ feedback.date_created|date:"d.m.Y H:i" }}
                  </p>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
        {% comment %} ======= {% endcomment %}
    </div>
  </section>
{% endblock content%}

{% block footer %}
  {% include 'include/footer.html' %}
{% endblock footer %}