{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{object.title}}
{% endblock title %}

{% block navbar %}
  {% include 'include/navbar.html' %}
{% endblock navbar %}

{% block content %}
  <section class="news-detail">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <p class="title">
            {{object.title}}
          </p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 my-4">
          <div class="detail-content">
            <p>{{object.text | safe}}</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-4">
          {% if object.image %}
            <img src="{{object.image.url}}" alt="" class="news-detail__img img-fluid">
          {% endif %}
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 text-right">
          <div class="cont-date"><p>Публикация от: {{ object.date|date:"d.m.y g:i" }}</p></div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}

{% block footer %}
  {% include 'include/footer.html' %}
{% endblock footer %}