{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{object.title}}
{% endblock title %}

{% block navbar %}
  {% include 'include/navbar.html' %}
{% endblock navbar %}

{% block content %}
  <section class="news-list">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="title">
            Новости
          </p>
        </div>
        {% if page_obj  %}
          {% for item in page_obj  %}
            <div class="col-sm-6 col-md-6 col-lg-4 mb-3">
              <div class="cont-news mb-3">
                <a href="{% url 'reference:news-detail' pk=item.pk %}" class="news-link">
                  <div class="news-box">
                    {%if item.image %}
                      <img width="auto" height="100%" class="img-fluid news-img" src="{{item.image.url}}" alt="">
                    {% endif %}
                    <p class="news-title fitcha">{{item.title}}</p>
                    <div class="cont-date"><p>Публикация от: {{ item.date|date:"d.m.y H:i" }}</p></div>
                  </div>
                </a>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <h5>Информация готовится к публикации</h5>
          </div>
        {% endif %}
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">Предыдущая &raquo;</a>
                {% endif %}
            </span>
        </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}

{% block footer %}
  {% include 'include/footer.html' %}
{% endblock footer %}