{% extends 'base.html' %}
{% load static %}

{% block title %}
  Наши проекты
{% endblock title %}

{% block navbar %}
  {% include 'include/navbar.html' %}
{% endblock navbar %}

{% block content %}
<section class="our-projects-list">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="title">
          Наши проекты
        </h1>
      </div>
      {% if object_list|length == 0%}
      <div class="col-12">
        <h1>Ничего нет</h1>
      </div>
      {% endif %}
      {% for object in object_list %}
          <div class="col-4">
            <div class="card-program mb-3">
              <a href="{% url 'reference:our-projects-detail' pk=object.id %}">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <div class="cont-title mt-3 mb-3">
                      <p>
                        {{object.title}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          </div>
        {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}

{% block footer %}
  {% include 'include/footer.html' %}
{% endblock footer %}