{% extends 'base.html' %}
{% load static widget_tweaks %}

{% block title %}
  Регистрация
{% endblock title %}

{% block navbar %}
  {% include 'include/navbar.html' %}
{% endblock navbar %}

{% block content %}
<section class="registration">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h1 class="title">Регистрация</h1>
      </div>
      <div class="col-12">
        <form action="" method="post" enctype="multipart/form-data" class="d-flex flex-column">
          {% csrf_token %}
          <div class="form-items">
            <div class="row d-flex align-items-center">
              <div class="col-lg-2">
                {{ form.first_name.label }}
              </div>
              <div class="col-lg-4">
                {% render_field form.first_name class="form-control" placeholder="Введите имя"%}
              </div>
              <div class="col-lg-5 register-error">
                {{ form.first_name.errors}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-items">
            <div class="row d-flex align-items-center">
              <div class="col-lg-2">
                {{ form.last_name.label }}
              </div>
              <div class="col-lg-4">
                {% render_field form.last_name class="form-control" placeholder="Введите свою фамилию"%}
              </div>
              <div class="col-lg-4 register-error">
                {{ form.last_name.errors}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-items">
            <div class="row d-flex align-items-center">
              <div class="col-lg-2">
                {{ form.patronymic.label }}
              </div>
              <div class="col-lg-4">
                {% render_field form.patronymic class="form-control" placeholder="Введите свое отчество"%}
              </div>
              <div class="col-lg-4 register-error">
                {{ form.patronymic.errors}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-items">
            <div class="row d-flex align-items-center">
              <div class="col-lg-2">
                {{ form.phone.label }}
              </div>
              <div class="col-lg-4">
                {% render_field form.phone id="phone" class="form-control" placeholder="Введите номер телефона"%}
              </div>
              <div class="col-lg-6 register-error">
                {{ form.phone.errors}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-items">
            <div class="row d-flex align-items-center">
              <div class="col-lg-2">
                {{ form.email.label }}
              </div>
              <div class="col-lg-4">
                {% render_field form.email class="form-control" placeholder="Введите e-mail"%}
              </div>
              <div class="col-lg-6 register-error">
                {{ form.email.errors}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-items">
            <div class="row d-flex align-items-center">
              <div class="col-lg-2">
                {{ form.password.label }}
              </div>
              <div class="col-lg-4 d-flex">
                {% render_field form.password class="form-control" placeholder="Введите пароль"%}
                <span class="align-self-center show-pass__register-none">
                  <i class="show-pass align-self-center mdi mdi-eye-off"></i>
                </span>
              </div>
              <div class="col-lg-6 register-error">
                {{ form.password.errors}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-items">
            <div class="row d-flex align-items-center">
              <div class="col-lg-2">
                {{ form.confirm_password.label }}
              </div>
              <div class="col-lg-4 d-flex">
                {% render_field form.confirm_password class="form-control" placeholder="Введите пароль ещё раз"%}
                <span id="showPassButton" class="align-self-center show-pass__register">
                  <i id="showPassIcon" class="show-pass align-self-center mdi mdi-eye-off"></i>
                </span>
              </div>
              <div class="col-lg-6 register-error">
                {{ form.confirm_password.errors}}
              </div>
            </div>
          </div>
        </div>
          <div class="row">
            <div class="col-12 mt-4 d-flex align-items-center">
              {{form.consent}} <p class="ml-2">{{ form.consent.label }}</p>
            </div>
            <div class="col-12">
              <input
                class="btn w-auto btn main-btn mt-3"
                type="submit"
                value="Зарегистрироваться"
                />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock content %}

{% block footer %}
  {% include 'include/footer.html' %}
{% endblock footer %}