{% extends 'base.html' %}
{% load static %}

{% block title %}
  Тематические выпуски
{% endblock title %}

{% block navbar %}
  {% include 'include/navbar.html' %}
{% endblock navbar %}

{% block content %}
<section class="release-list" id="release-list">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="title">
          Тематические выпуски
        </h1>
      </div>
      {% if object_list|length == 0%}
      <div class="col-12">
        <h1>Ничего нет</h1>
      </div>
      {% endif %}
      {% for program in object_list %}
          <div class="col-4">
            <div class="card-release">
              <a href="{% url 'release:detail' pk=program.id %}">
                <p class="cont-title">
                  {{program.title}}
                  <span class="date">{{program.date_of_event}}</span>
                </p>
              </a>
            </div>
          </div>
        {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}

{% block footer %}
  {% include 'include/footer.html' %}
{% endblock footer %}