{% extends 'base.html' %}
{% load static %}

{% block title %}
  Тематические выпуски
{% endblock title %}

{% block navbar %}
  {% include 'include/navbar.html' %}
{% endblock navbar %}

{% block content %}
<section class="site-list">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="title">
          Сайты
        </h1>
        <hr class="horizontal__line">
      </div>
      {% if object_list|length == 0%}
      <div class="col-12">
        <h1>Ничего нет</h1>
      </div>
      {% endif %}
      {% for site in object_list %}
          <div class="col-12">
            <div class="card-site-list mb-2">
              <a href="{{site.url}}" target="_blank">
                {{ forloop.counter }}. {{site.title}}
              </a>
            </div>
          </div>
        {% endfor %}
    </div>
  </div>
</section>

{% endblock content %}
{% block footer %}
  {% include 'include/footer.html' %}
{% endblock footer %}
