{% extends 'base.html' %}
{% load static %}

{% block title %}
  Полезные материалы
{% endblock title %}

{% block navbar %}
  {% include 'include/navbar.html' %}
{% endblock navbar %}

{% block content %}
  <section class="useful-materials">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="title">
            Полезные материалы
          </h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="wall_banners">
          <img src="{% static 'images/Стенд 1 (1500х2000мм).jpg' %}" alt="1">
          <img src="{% static 'images/Стенд 2 (1500х2000мм).jpg' %}" alt="2">
          <img src="{% static 'images/Стенд 3 (1500х2000мм).jpg' %}" alt="3">
          <img src="{% static 'images/Стенд 4 (1500х2000мм).jpg' %}" alt="4">
      </div>
  </div>
  </section>
{% endblock content %}

{% block footer %}
  {% include 'include/footer.html' %}
{% endblock footer %}