{% load static %}

<footer class="footer">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="footer__img">
          <img class="footer-logo" src="{% static 'images/logo.svg' %}" alt="logo" >
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 ">
        <div class="footer__info">
          <p class="footer__title">Полезные ссылки</p>
          <ul class="list__links">
            <li><a href="{% url 'reference:sites' %}">Сайты</a></li>
            <li><a href="{% url 'release:list' %}">Лекции</a></li>
            <li><a href="{% url 'reference:quality-library' %}">Библиотека качества</a></li>
            <li><a href="{% url 'reference:useful-materials' %}">Полезные материалы</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="footer__info">
          <p class="footer__title">Мы ждем Вас</p>
          <ul class="list__links">
            <li><a href="{% url 'user:feedback' %}">Задать вопрос</a></li>
            <li><a href="/#activity">Записаться на мероприятие</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>