{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <div class="container">
    <a href="{% url 'home' %}">
      <img class="header-logo" src="{% static 'images/logo.svg' %}" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Главная
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" target="_blank" href="https://rsue.ru/tour/tour.html">3D - тур</a>
            <a class="dropdown-item" href="#news">Новости</a>
            <a class="dropdown-item" href="#employee">Наши сотруднки</a>
            <a class="dropdown-item" href="#partners">Наши потребители</a>
            <a class="dropdown-item" href="#partners">Наши партнеры</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Наши услуги
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'release:list' %}">Тематические выпуски</a>
            <a class="dropdown-item" href="{% url 'business:list' %}">Деловые игры</a>
            <a class="dropdown-item" href="{% url 'program:list' %}">Образовательные программы</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Наши результаты
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'reference:our-projects' %}">Наши проекты</a>
          </div>
        </div>

        {% if not user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user:registration' %}">Регистрация</a>
          </li>
        {% endif %}
        {% if user.is_authenticated %}
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'user:account' %}"> <img src="{% static 'images/account.png' %}" alt="lc"></a>
          </li>
        {% endif %}
      </ul>
      <span class="navbar-text">
        {% if user.is_authenticated %}
          {{request.user.first_name}} {{request.user.last_name}}
          <button onclick="location.href='{% url 'logout' %}'" type="button" class="btn btn-outline-dark">Выйти</button>
        {% else %}
          <button onclick="location.href='{% url 'login' %}'" type="button" class="btn btn-outline-dark">Войти</button>
        {% endif %}
      </span>
    </div>
  </div>
</nav>
