body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.header,
.employee-detail,
.educational-program-detail,
.registration,
.account,
.release-list,
.release-detail,
.site-list,
.quality-library-list,
.useful-materials {
  padding-top: 80px;
}

.emloyee-card {
  margin-bottom: 25px;
}

.parthers-area__title {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  height: 100px;
  padding-left: 10px;
  border-radius: 5px;
}


.login,
.logout,
.thanks {
  background: rgba(81, 153, 187, 0.719);
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.login-box,
.thanks-box,
.logout-box {
  background: #fff;
  padding: 50px 20px;
  border-radius: 5px;
}


.login-box__logo {
  width: 100px;
  margin-bottom: 25px;
}

.form-box {
  margin: 10px;
  display: flex;

}

.login-error {
  width: 100%;
  margin-top: 15px;
}

.login-error__text {
  color: red;
}

.form-items {
  margin-top: 15px;
}

.register-error {
  color: red;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 280px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  padding-top: 15%;
  background-color: #bbb;
  color: white;
  transform: rotateY(180deg);
  border-radius: 15px;
}





/* Style cards Employeers */
.flip-card {
  margin: 15px 0 15px 0;
  border-radius: 15px;
}

/* About-us */

.title {
  color: rgba(36, 100, 172, 1);
  font-size: 32px;
  text-align: center;
  font-weight: 700;
  margin: 35px 0 35px 0;
}

.about__desc {
  font-size: 18px;
  line-height: 35px;
  text-align: justify;
}

.about__content {
  display: flex;
  margin: 0 0 30px 0;
}


/* Education programm on index page */

.title-group_programm p {
  color: rgba(141, 141, 141, 0.733);
  font-size: 22px;
  text-align: center;
  font-weight: 700;
  padding: 15px 0 35px 0;
}

.card-program {
  background: rgb(204, 200, 200);
  border-radius: 10px;
  text-align: justify;
}

/* Education programm detail */

.title-group_programm{
  color: rgba(141, 141, 141, 0.733);
  font-size: 22px;
  text-align: center;
  font-weight: 700;
  padding: 0 0 25px 0;
}

.programm-desc{
  font-size: 18px;
  line-height: 35px;
  text-align: justify;
}

.users-count-btn{
  margin-top: 15%;
  margin-left: 20%;
}

.count-users{
  padding-top: 5%;
}


/* Contacts */

.social__title {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: rgba(36, 100, 172, 1);

  margin: 15px 0 25px 0;
}

.social__logo {
  display: flex;
  text-align: center;
}


.left__right__border {
  border-right: 3px solid #000;
  border-left: 3px solid #000;

  height: 100%;
}

.card__contacts img {
  padding-top: 15px;
  display: inline-block;
  justify-content: space-between;
}

.info__contacts span {
  font-weight: 700;
}

.info__contacts p {
  margin: 45px 0 10px 0;
}

/* Header */

.header {
  height: 100%;

}

.header h1 {
  font-size: 70px;
  color: rgba(36, 100, 172, 1);
}


.main__title {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.6);
  position: relative;
  top: 250px;
  text-transform: uppercase;
}


.main__title h2 {
  font-size: 50px;
  color: rgba(1, 160, 226, 1);

}

.video-bg {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.video-bg video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9999;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}



/* Footer */

.content {
  min-height: calc(100vh - 204px);
}

footer {
  margin-top: 30px;
  padding-top: 30px;
  background: url(/static/images/bg_footer.jpg) no-repeat;
  height: 204px;

}

.footer__title {
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
}

.list__links a {
  color: #000;
}

.footer-logo {
  width: 20%;
}


/* User account */

.lc_title {
  color: rgba(36, 100, 172, 1);
  font-size: 22px;
  text-align: center;
  font-weight: 700;
  margin: 15px 0 15px 0;
}

.lc_title p {
  line-height: 32px;
}

.username {
  color: rgb(0, 0, 0);
  padding-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.user__info {
  color: rgb(68, 68, 68);
  padding-top: 15px;
  font-size: 18px;
}

.horizontal__line {
  width: 100%;
  border-width: 3px;
}

.lc_subtitle {
  color: rgb(110, 110, 110);
  padding: 5px 0 0 0;
  font-size: 18px;
  font-weight: 700;
}

.activity__title a {
  color: rgb(92, 92, 92);
}

/* Regestration */

.registration {
  color: rgba(1, 160, 226, 1);
}

/* Logout */

.login-out__logo{
  width: 30%;
  display: inline-block;
  margin: 25px 0;
}