{% extends "base.html" %}

{% block header %}
  {% include 'include/header.html' %}
{% endblock header %}

{% block content %}
  <section class="thanks">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 offset-lg-4 text-center">
          <div class="thanks-box">
            <p>Вы успешно отправили запрос на регистрацию, скоро администратор подтвердит Вашу учетную запись</p>
            <a class="btn mt-3 main-btn" href="{% url 'home'%}">На главную</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}