{% extends 'base.html' %}
{% load static user program partners business %}

{% comment %} {% block title %}
!
{% endblock title %} {% endcomment %}

{% block navbar %}
  {% include 'include/navbar.html' %}
{% endblock navbar %}

{% block content %}
  {% include 'components/header.html'%}
  {% employee %}
  {% include 'components/about-us.html'%}
  {% last_programs %}
  {% last_business %}
  {% partners %}
  {% include 'components/contacts.html'%}
{% endblock content %}

{% block footer %}
  {% include 'include/footer.html' %}
{% endblock footer %}

