{% load static %}

<section class="about-us">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-12">
        <h1 class="title">О нас</h1>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="about__content">
            <div class="col-sm-12 col-md-6 col-lg-6">
              <img class="about-img" src="{% static 'images/Механцева Карина Феликсовна.JPG' %}" width="100%" alt="Механцева Карина Феликсовна">
           </div>
           <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="about__desc">
               <p>Фабрики процессов производства продукции и услуг» создана по поручению губернатора Ростовской области Василия Голубева при поддержке Министерства экономического развития Ростовской области и открыта 12 октября 2020 года на базе Ростовского государственного экономического университета (РИНХ).</p>
             </div>
           </div>
           <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="about__desc">
              <p>«Фабрики процессов производства продукции и услуг» - это учебная площадка практического обучения принципам и инструментам бережливого производства для студентов и индустриальных партнеров с привлечением специалистов предприятий и организаций региона.</p>
             </div>
           </div>
           <div class="col-sm-12 col-md-6 col-lg-6">
            <img class="about-img" src="{% static 'images/Артамонова Татьяна Сергеевна.jpg' %}" width="100%" alt="Артамонова Татьяна Сергеевна">
           </div>
           <div class="col-sm-12 col-md-6 col-lg-6">
             <img class="about-img" src="{% static 'images/Гирда Дарья Павловна.jpg' %}" width="100%" alt="Гирда Дарья Павловна">
           </div>
           <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="about__desc">
               <p>Обучение построено на основе реального производственного процесса, в котором участники понимают, как видеть потери, решать проблемы и балансировать процессы.</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="about__desc">
              <p>Проект реализуют все факультеты РГЭУ (РИНХ), ведущие выпускающие кафедры вуза, наиболее тесно связанные с полными циклами процессов производства продукции и оказания услуг.</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <img class="about-img" src="{% static 'images/Гуляева Елизовета Владимировна.jpg' %}" width="100%" alt="Гуляева Елизовета Владимировна">
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <img class="about-img" src="{% static 'images/Наливайко Марина Николаевна.jpg' %}" width="100%" alt="Наливайко Марина Николаевна">
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6 ">
            <div class="about__desc">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                  scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry.</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="about__desc">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                  scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry.</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <img class="about-img" src="{% static 'images/Общая.jpg' %}"  width="100%" alt="Общая">
          </div>
        </div>
      </div>
    </div>
</section>