{% load static %}

<section class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="title">О нас</h1>
      </div>
      <div class="row">
        <div class="about__content">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <img src="{% static 'images/Механцева Карина Феликсовна.JPG' %}" width="100%" alt="Механцева Карина Феликсовна">
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="about__desc">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
          </div>
        </div>
        <div class="about__content">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="about__desc">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <img src="{% static 'images/Артамонова Татьяна Сергеевна.jpg' %}" width="100%" alt="Артамонова Татьяна Сергеевна">
          </div>
        </div>
        <div class="about__content">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <img src="{% static 'images/Гирда Дарья Павловна.jpg' %}" width="100%" alt="Гирда Дарья Павловна">
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="about__desc">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
          </div>
        </div>
        <div class="about__content">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="about__desc">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <img src="{% static 'images/Гуляева Елизовета Владимировна.jpg' %}" width="100%" alt="Гуляева Елизовета Владимировна">
          </div>
        </div>
        <div class="about__content">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <img src="{% static 'images/Наливайко Марина Николаевна.jpg' %}" width="100%" alt="Наливайко Марина Николаевна">
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="about__desc">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="about__desc">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
              an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <img src="{% static 'images/Общая.jpg' %}"  width="100%" alt="Общая">
        </div>
      </div>
    </div>
</section>