{% load static %}

{% comment %} {% if business|length > 0%}
  <section class="last-programs">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h1 class="title">
            Деловые игры
          </h1>
        </div>
        {% for program in business %}

            <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
              <div class="card-program">
                <p class="title-group_programm">
                  {{program.group}}
                </p>
                <a href="{% url 'business:detail' pk=program.id %}">
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="cont-title mb-3">
                          <p>
                            {{program.title}}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>

        {% endfor %}
      </div>
    </div>
  </section>
{% endif %} {% endcomment %}