{% load static %}

{% if business|length > 0%}
  <section class="last-programs">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="title">
            Деловые игры
          </h1>
        </div>
        {% for program in business %}
          <div class="col-4">
            <div class="card-program">
              <a href="{% url 'business:detail' pk=program.id %}">
                <p class="title-group_programm">
                  {{program.group}}
                </p>
                <p>
                  {{program.title}}
                </p>
                <hr class="horizontal__line">
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}