{% load static %}

{% if programs|length > 0%}
  <section class="last-programs">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="title">
            Образовательные программы
          </h1>
        </div>
        {% for program in programs %}
          
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="card-program mb-3">
                  <p class="title-group_programm text-center">
                    {{program.group}}
                  </p>
                
                <a href="{% url 'program:detail' pk=program.id %}">
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="cont-title mb-3">
                          <p>
                            {{program.title}}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>        
                </a>
              </div>
            </div>
          
            
          
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}