<section class="our-activities">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="title">
          Наши активности
        </h1>
      </div>

        <div class="col-sm-12 col-md 6 col-lg-4">
          <div class="container">
            <div class="row d-dlex justify-content-center">
              <div class="cont-activity">
                <a href="{% url 'release:list' %}">
                  <div class="img-activity">
                    <img src="/static/images/ТемВыпуски.jpg" alt="Тематические выпуски">
                  </div>
                  <div class="title-activity">
                    <a href="{% url 'release:list' %}">
                      Тематические<br> выпуски</a>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md 6 col-lg-4">
          <div class="container">
            <div class="row d-dlex justify-content-center">
              <div class="cont-activity">
                <a href="{% url 'business:list' %}">
                  <div class="img-activity">
                    <img src="/static/images/bussinesgame.jpg" alt="Деловые игры">
                  </div>
                  <div class="title-activity">
                    <a href="{% url 'business:list' %}">Деловые игры</a>
                  </div>
                </a>
              </div>
            </div>
          </div>
          
        </div>
        <div class="col-sm-12 col-md 6 col-lg-4">
          <div class="container">
            <div class="row d-dlex justify-content-center">
              <div class="cont-activity">
                <a href="{% url 'program:list' %}">
                  <div class="img-activity">
                    <img src="/static/images/obrprogram.jpg" alt="Образовательные программы">
                  </div>
                  <div class="title-activity">
                    <a href="{% url 'program:list' %}">Образовательные программы</a>
                  </div>
                </a>
              </div>
            </div>
          </div>
          
        </div>


    </div>
  </div>
</section>