<section class="our-activities">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="title">
          Наши активности
        </h1>
      </div>
      <div class="col-sm-12 col-md 6 col-lg-4">
        <div class="container">
          <div class="row justify-content-center">
            <a href="{% url 'release:list' %}">
            <div class="cont-activity">
              <div class="img-activity">
                <img src="/static/images/ТемВыпуски.jpg" alt="Тематические выпуски">
              </div>
            </div>
            <div class="title-activity">
              <a href="{% url 'release:list' %}">
                Тематические<br> выпуски</a>
            </div>
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>