<section class="partners" id="partners">
  <div class="container">
    <h1 class="title">
      Наши партнеры и потребители
    </h1>
    <img src="/static/images/баннер-7000х3500мм.jpg" alt="">
    <!-- <div class="row">
      <div class="col-12">
        <h1 class="title">
          Наши партнеры и потребители
        </h1>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row align-items-center cont-partners">
          {% for item_area in area %}
            <div class="col-sm-12 col-md-12 col-lg-12">

                <div style="background-color: {{item_area.color}}" class="parthers-area__title mb-3">
                  {{item_area.title}}
                </div>
              </div>
              
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="row align-items-center justify-content-center">
                {% for partner in item_area.partner.all %}
                  <div class="col-sm-4 col-md-4 col-lg-3">
                    <img src="{{ partner.image.url }}" alt="partner-img" class="img-fluid mb-3">
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div> -->
  </div>
</section>